@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');


* {
    font-family: 'Work Sans', 'sans-serif';
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

pre {
    max-width: 99vw;
    font-family: 'IBM Plex Mono', monospace;
}

html,body {
    margin: 0;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 235, 235);
}

body > div {
    padding: 20px;
}

body > div > div {
    background-color: white;
    padding: 30px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

form > select {
    border: 1px solid #ddd;
    padding: 12px;
    font-size: 1.05rem;
    border-radius: 2px;
    margin: 0;
}

form > input {
    border: 1px solid #ddd;
    padding: 12.5px 12px;
    font-size: 1.05rem;
    border-radius: 2px;
    margin: 0;
}

form > button {
    border: 1px solid #2563EB;
    padding: 12px 20px;
    font-size: 1.05rem;
    border-radius: 2px;
    margin: 0;
    background-color: #2563EB;
    color: white;
    cursor: pointer;
    transition: border 150ms ease, background-color 150ms ease;
}

form > button:hover {
    border: 1px solid #1D4ED8;
    background-color: #1D4ED8;
}

form > select:focus, form > input:focus {
    outline: none;
}

body > div > div > div {
    padding: 8px 0;
}

body > div > div > div > h2 {
    margin: 0 0 8px 0;
    font-weight: 500;
}

body > div > div > div > p {
    margin: 0 0 8px 0;
    font-weight: 400;
}

a {
    color: #1D4ED8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.err {
    background-color: #DC2626;
    color: white;
    padding: 12px 24px;
    border-radius: 2px;
}

.err p {
    margin: 0;
}