<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/public/static/css/chunk.38r2he.css" />
        <title>lux-1.bgp.tcp.systems</title>
    </head>
    <body>
        <div>
            <div>
                <div>
                    <h2>Looking Glass Information</h2>
                    <p>Server Location: Luxembourg</p>
                    <p>V4 Address: 144.172.76.0</p>
                    <p>V6 Address: N/A</p>
                    <p>Test files: <a href="/public/binaries/100M" target="_blank">100MB</a> <a href="/public/binaries/1G" target="_blank">1GB</a></p>
                </div>
                <form action="/" method="POST">
                    <select name="command">
                        <option value="ping">ping</option>
                        <option value="traceroute">traceroute</option>
                        <option value="mtr">mtr</option>
                    </select>
                    <input type="text" placeholder="Hostname / IP address" name="payload" />
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>